/*
  font-family: "DM Sans", sans-serif;
  font-family: "DM Serif Display", serif;


*/

body {
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
}

h1,
h2 {
    font-family: "DM Serif Display", serif;
    font-weight: 200;
}