body {
    font-family: "Google Sans", sans-serif;
    font-size: 1.2em;
    color: #02111B;
    background-color: #fcfcfc;
    line-height: 1.3;
    margin: 0;
}

header {
    text-align: center;
    margin: 2em 0;
}

h1 {
    font-weight: 700;
}

header em {
    text-transform: uppercase;
    background-color: #690500;
    color: #fcfcfc;
    padding: .5em 1em;
    font-size: .75em;
}

a {
    color: #02111B;
}

a:hover {
    color: #690500;
}

img {
    width: 100%;
}

main {
    padding: 1em;
}

footer {
    padding: 1em;
    color: #fcfcfc;
    background-color: #02111B;
}

footer a {
    color: #fcfcfc;
}