body {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: black;
}

h1 {
    font-size: 8em;
}

header {
    text-align: center;
    margin: 5% 0 10% 0;
}

img {
    border-radius: 5%;
}


@media (max-width:992px) {
    h1 {
        font-size: 3em;
    }

    header {
        margin: 10% 0;
    }

    .text {
        font-style: italic;
    }
}

/* 
@media (min-width:568px) {
    h1 {
        color: blue;
    }
} */