body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
}


p,
ul {
    line-height: 1.6;
}

header {
    text-align: center;
    font-family: "Anek Telugu", sans-serif;
}

h1 {
    font-size: 4em;
    font-weight: 600;
    margin: 1em 0 0 0;
}

h2 {
    font-weight: 200;
    font-size: 1.25em;
}

h3 {
    font-size: 1.2em;
    text-transform: uppercase;
}

main {
    margin: 3em 0;
}

section {
    margin: 2em 0;
}

figure {
    margin: 0;
}

figcaption {
    font-style: italic;
    color: darkgray;
    text-align: right;
}

.contact {
    border: 1px solid grey;
    margin: 2em 0;
    padding: 1em;
    text-align: center;
}

#pending {
    background-color: #EB3510;
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: .85em;
}

.details {
    background-color: #E8E6E3;
    padding: 25px;
    font-size: .85em;
}

.change-up {
    color: #1E8A4C;
    font-weight: 500;
    padding: 0 0 0 15px;
}

.history p {
    line-height: .5;
}

a {
    color: #000;
    font-weight: 600;
}

a:hover {
    color: #000;
}

@media (max-width:992px) {
    h1 {
        font-size: 2.5em;
        font-weight: 400;
    }
}

@media (max-width: 568px) {
    h1 {
        font-size: 1.75em;
        /* font-weight: 400; */
    }

    .mobile-hide {
        display: none;
    }
}

@media (min-width:568px) {
    .mobile-show {
        display: none;
    }
}